.articles {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .impair {
    margin-bottom: 27px;
    margin-top: 50px;
  }
  article {
    display: flex;
    justify-content: center;

    .colonne1 {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      #blender {
        width: 50%;
        margin-right: 20px;
        z-index: 1;
      }
    }
    span {
      color: var(--color-secondary);
    }
    .imagesFlex {
      display: flex;
      width: 20%;
      align-items: center;
    }
    .colonne2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      margin-top: 20px;
      #UFO {
        position: relative;
        bottom: 100px;
        border-radius: 20px;
      }
      #Boxeur {
        position: relative;
        bottom: 100px;
        right: 120px;
        width: 85%;

        border-radius: 20px;
      }
      #Invasion {
        position: relative;
        bottom: 115px;
        width: 1140px;
        border-radius: 20px;
      }
      #Media {
        position: relative;
        bottom: 115px;
        width: 1140px;
        border-radius: 20px;
      }
    }
  }
  ::selection {
    background: var(--color-primary);
  }
  h4 {
    text-decoration: underline;
  }
  .svg-wrapper {
    position: relative;
    top: 10%;
    right: 35.5%;
    transform: translateY(-100%);
    text-align: center;
    margin: 0 auto;
    height: 70px;
    a {
      color: var(--color-secondary);
      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }

  .shape1,
  .shape2 {
    stroke-dasharray: 1120;
    stroke-width: 5px;
    fill: transparent;
    stroke: var(--color-secondary);
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s, stroke-dasharray 4s;
  }
  .shape1 {
    stroke-dashoffset: 1120;
  }
  .shape2 {
    stroke-dashoffset: -1120;
  }
  .text {
    letter-spacing: 5px;
    color: var(--color-text-titre);
    top: -88px;
    position: relative;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
  }
  a {
    text-decoration-color: var(--color-text-titre);
    :hover {
      text-decoration: underline;
    }
    :active {
      text-decoration: underline;
    }
  }

  .Titre {
    font: 8em var(--font-primary);
    position: relative;
    right: 125px;
    bottom: 140px;
  }
  .Boxe {
    font: 8em var(--font-primary);
    position: relative;
    right: 170px;
    bottom: 140px;
  }
  .mechant {
    font: 8em var(--font-primary);
    position: relative;
    right: 215px;
    bottom: 145px;
  }
  .queensman {
    font: 8em var(--font-primary);
    position: relative;
    right: 160px;
    bottom: 145px;
  }
  .text-copy {
    fill: none;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
  }

  .text-copy:nth-child(1) {
    stroke: #d9ed92;
    animation-delay: -1;
  }

  .text-copy:nth-child(2) {
    stroke: #b5e48c;
    animation-delay: -2s;
  }

  .text-copy:nth-child(3) {
    stroke: #99d98c;
    animation-delay: -3s;
  }

  .text-copy:nth-child(4) {
    stroke: #76c893;
    animation-delay: -4s;
  }

  .text-copy:nth-child(5) {
    stroke: #52b69a;
    animation-delay: -5s;
  }
  .text-copy:nth-child(6) {
    stroke: #34a0a4;
    animation-delay: -6s;
  }

  .text-copy:nth-child(7) {
    stroke: #168aad;
    animation-delay: -7s;
  }

  @keyframes stroke-offset {
    100% {
      stroke-dashoffset: -35%;
    }
  }
  .pale {
    background-color: var(--color-primary-lighter);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #Unity {
    width: 50%;
    margin-right: 10px;
  }
  #blenderDark {
    width: 90%;
    margin-right: 5px;
  }
  #UnityDark {
    width: 50%;
    margin-right: 15px;
  }
  #CsharpDark {
    width: 50%;
  }
  #HTML {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #premiere {
    position: relative;
    right: 23px;
  }
}
