.articles {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;

  .impair {
    height: 100vh;
  }
  article {
    display: flex;
    justify-content: center;

    .colonne1 {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      justify-content: center;
      margin-bottom: 60px;
      max-width: 30vw;
      margin-left: 50px;

      #blender {
        width: 50%;
        margin-right: 20px;
        z-index: 1;
        @media screen and (max-width: $breakpoint-md) {
          width: 80%;
        }
      }
      @media screen and (max-width: $breakpoint-lg) {
        margin-left: 50px;

        h2 {
          margin: 0;
        }
        h6 {
          margin-top: 20px;
        }
      }
    }
    span {
      color: var(--color-secondary);
    }
    .imagesFlex {
      display: flex;
      width: 20%;
      align-items: center;
    }
    .colonne2Mechant {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      height: 100vh;
      #Invasion {
        width: 890px;
        height: 450px;
        border-radius: 20px;
        margin-right: 50px;
        @media screen and (max-width: $breakpoint-md) {
          width: 500px;
          height: 250px;
          margin-top: 50px;
          margin-bottom: 175px;
        }
      }
    }
    .colonne2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      @media screen and (max-width: $breakpoint-md) {
        justify-content: center;
      }

      #UFO {
        border-radius: 20px;
        width: 950px;
        height: 450px;
        margin-right: 50px;
        @media screen and (max-width: $breakpoint-md) {
          width: 500px;
          height: 250px;
          margin-top: 50px;
          margin-bottom: 175px;
        }
      }
      #Boxeur {
        width: 950px;
        height: 450px;
        border-radius: 20px;
        margin-right: 50px;
        @media screen and (max-width: $breakpoint-md) {
          width: 500px;
          height: 250px;
          margin-top: 50px;
          margin-bottom: 175px;
        }
      }

      #Media {
        width: 915px;
        height: 450px;
        border-radius: 20px;
        margin-right: 50px;
        @media screen and (max-width: $breakpoint-md) {
          width: 500px;
          height: 250px;
          margin-top: 50px;
          margin-bottom: 175px;
        }
      }
      #Queensman {
        width: 990px;
        height: 450px;
        border-radius: 20px;
        margin-right: 50px;
        @media screen and (max-width: $breakpoint-md) {
          width: 500px;
          height: 250px;
          margin-top: 50px;
          margin-bottom: 175px;
        }
      }
    }
  }
  ::selection {
    background: var(--color-primary);
  }
  h4 {
    text-decoration: underline;
  }
  .mechant {
    width: auto;
  }
  .svg-wrapper {
    position: relative;
    right: 35.5%;
    transform: translateY(-100%);
    text-align: center;
    margin: 0 auto;
    height: 70px;
    width: auto;
    a {
      color: var(--color-secondary);
      &:hover {
        color: var(--color-text-secondary);
      }
    }
    @media screen and (max-width: $breakpoint-lg) {
      margin-right: 80px;
    }
    @media screen and (max-width: $breakpoint-md) {
      margin-right: 20px;
    }
  }

  .shape1,
  .shape2 {
    stroke-dasharray: 1120;
    stroke-width: 5px;
    fill: transparent;
    stroke: var(--color-secondary);
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s, stroke-dasharray 4s;
  }
  .shape1 {
    stroke-dashoffset: 1120;
  }
  .shape2 {
    stroke-dashoffset: -1120;
  }
  .text {
    letter-spacing: 5px;
    color: var(--color-text-titre);
    top: -88px;
    position: relative;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
  }
  a {
    text-decoration-color: var(--color-text-titre);
    :hover {
      text-decoration: underline;
    }
    :active {
      text-decoration: underline;
    }
  }

  .Titre {
    font: 8em var(--font-primary);
  }
  .Boxe {
    font: 8em var(--font-primary);
  }
  .mediaConf {
    font: 8em var(--font-primary);
  }
  .mechant {
    font: 8em var(--font-primary);
  }
  .queensman {
    font: 8em var(--font-primary);
  }
  .text-copy {
    fill: none;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
  }

  .text-copy:nth-child(1) {
    stroke: #d9ed92;
    animation-delay: -1;
  }

  .text-copy:nth-child(2) {
    stroke: #b5e48c;
    animation-delay: -2s;
  }

  .text-copy:nth-child(3) {
    stroke: #99d98c;
    animation-delay: -3s;
  }

  .text-copy:nth-child(4) {
    stroke: #76c893;
    animation-delay: -4s;
  }

  .text-copy:nth-child(5) {
    stroke: #52b69a;
    animation-delay: -5s;
  }
  .text-copy:nth-child(6) {
    stroke: #34a0a4;
    animation-delay: -6s;
  }

  .text-copy:nth-child(7) {
    stroke: #168aad;
    animation-delay: -7s;
  }

  @keyframes stroke-offset {
    100% {
      stroke-dashoffset: -35%;
    }
  }
  .pale {
    background-color: var(--color-primary-lighter);
    height: 100vh;
  }
  #Unity {
    width: 50%;
    margin-right: 10px;
    @media screen and (max-width: $breakpoint-md) {
      width: 80%;
    }
  }
  #blenderDark {
    width: 90%;
    margin-right: 5px;
    @media screen and (max-width: $breakpoint-lg) {
      width: 80%;
    }
  }
  #UnityDark {
    width: 50%;
    margin-right: 15px;
  }
  #CsharpDark {
    width: 50%;
  }
  #HTML {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #premiere {
    position: relative;
    right: 23px;
    width: 200%;
  }
}
