#contact {
  text-align: center;
}
.contactIcons {
  span {
    color: var(--color-secondary);
  }
  h4 {
    text-align: center;
    @media screen and (max-width: $breakpoint-lg) {
      margin-bottom: 0;
    }
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 1.2em;
    }
  }
  .iconsContactGros {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    transition: 1s;
    @media screen and (max-width: $breakpoint-lg) {
      margin-top: 40px;
    }
    @media screen and (max-width: $breakpoint-sm) {
      flex-wrap: wrap;
      margin-left: 80px;
    }
    @media screen and (max-width: $breakpoint-xs) {
      flex-wrap: nowrap;
      justify-content: center;
      margin-left: 20px;
    }
    img {
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
      @media screen and (max-width: $breakpoint-md) {
        width: 80%;
        height: 90%;
        justify-content: center;
      }
      @media screen and (max-width: $breakpoint-sm) {
        width: 80%;
        height: 90%;
        margin-left: 0;
      }
    }
  }

  .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (max-width: $breakpoint-lg) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: $breakpoint-xs) {
      flex-direction: column;
    }
    h5 {
      @media screen and (max-width: $breakpoint-sm) {
        font-size: 1em;
      }
    }
    img {
      margin-right: 20px;
      margin-left: 150px;
      @media screen and (max-width: $breakpoint-sm) {
        margin-left: 20px;
      }
    }
  }
  ::selection {
    background: var(--color-primary);
  }
  .svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(10%);
    margin: 0 auto;
    width: 500px;
    height: 80px;
    a {
      color: var(--color-secondary);
      &:hover {
        color: var(--color-text-secondary);
      }
      @media screen and (max-width: $breakpoint-xs) {
        text-align: center;
        margin-right: 120px;
      }
    }
  }
  .shape1,
  .shape2 {
    stroke-dasharray: 1120;
    stroke-width: 5px;
    fill: transparent;
    stroke: var(--color-secondary);
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s, stroke-dasharray 4s;
  }
  .shape1 {
    stroke-dashoffset: 1120;

    @media screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  .shape2 {
    stroke-dashoffset: -1120;
    @media screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  .text {
    letter-spacing: 5px;
    color: var(--color-text-titre);
    top: -88px;
    position: relative;
    text-decoration: underline;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
  }
  a {
    text-decoration-color: var(--color-text-titre);
  }
}
