#contact {
  text-align: center;
}
.contactIcons {
  span {
    color: var(--color-secondary);
  }
  h4 {
    text-align: center;
  }
  .iconsContactGros {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    img {
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    h5 {
    }
    img {
      margin-right: 20px;
      margin-left: 150px;
    }
  }
  ::selection {
    background: var(--color-primary);
  }
  .svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(10%);
    margin: 0 auto;
    width: 500px;
    height: 80px;
    a {
      color: var(--color-secondary);
      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }
  .shape1,
  .shape2 {
    stroke-dasharray: 1120;
    stroke-width: 5px;
    fill: transparent;
    stroke: var(--color-secondary);
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s, stroke-dasharray 4s;
  }
  .shape1 {
    stroke-dashoffset: 1120;

    @media screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  .shape2 {
    stroke-dashoffset: -1120;
    @media screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  .text {
    letter-spacing: 5px;
    color: var(--color-text-titre);
    top: -88px;
    position: relative;
    text-decoration: underline;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
  }
  a {
    text-decoration-color: var(--color-text-titre);
  }
}
