.header {
  .wrapper {
    margin: 0;
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-primary-lighter);
      position: absolute;
      width: 100vw;

      img {
        max-width: 100px;
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-align: center;

        li {
          list-style: none;
          padding-right: 48px;
          padding-left: 48px;

          a {
            color: var(--color-text);
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-md) {
  .header {
    .wrapper {
      nav {
        ul {
          li {
            padding-left: 40px;
            padding-right: 40px;
            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
