.section1 {
  p {
    font-size: 1.4em;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
    @media screen and (max-width: $breakpoint-lg) {
      font-size: 1em;
    }
    @media screen and (max-width: $breakpoint-xs) {
      margin-top: 90px;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  span {
    color: var(--color-secondary);
  }
  #UFO {
    border-radius: 20px;
  }
  .titre {
    font-size: 3.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

    @media screen and (max-width: $breakpoint-xs) {
      font-size: 2.3em;
    }
  }
  h2 {
    text-align: center;
    font-size: 2em;
    @media screen and (max-width: $breakpoint-xs) {
      font-size: 1.5em;
    }
  }

  .swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: $breakpoint-lg) {
      #UFO {
        height: 400px;
        width: 800px;
      }
    }
    @media screen and (max-width: $breakpoint-sm) {
      #UFO {
        height: 350px;
      }
    }
    @media screen and (max-width: $breakpoint-xs) {
      #UFO {
        height: 200px;
      }
    }
  }
  .swing img {
    border: 5px solid #f8f8f8;
    display: block;
  }
  .swing:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
  }
  /* nail */
  .swing:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 50.7%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
  }
  #UFOSwing:before {
    @media screen and (max-width: $breakpoint-xs) {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: -14px;
      left: 52.5%;
      z-index: 5;
      border-radius: 50% 50%;
      background: #000;
    }
  }

  @keyframes swing {
    0% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }
  #boxeur {
    max-height: 500px;
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  margin-top: 30px;

  span {
    color: var(--color-secondary);
  }
  .titre {
    font-size: 3.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h4 {
    margin-bottom: 0;

    @media screen and (max-width: $breakpoint-sm) {
      margin-top: 100px;
    }
  }
  .pasdeMargin {
    @media screen and (max-width: $breakpoint-sm) {
      margin-top: 30px;
    }
  }
  p {
    font-size: 1.4em;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    @media screen and (max-width: $breakpoint-lg) {
      font-size: 1em;
      margin-top: 20px;
    }
  }
  .github {
    @media screen and (max-width: $breakpoint-xs) {
      margin-top: 60px;
    }
  }

  .swing {
    #storyboard {
      max-height: 550px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 500px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 400px;
      }

      @media screen and (max-width: $breakpoint-s) {
        max-height: 400px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 300px;
      }
    }
    #makehuman {
      max-height: 550px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 510px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 370px;
      }
      @media screen and (max-width: $breakpoint-s) {
        max-height: 400px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 300px;
      }
    }
    #astronaut {
      max-height: 550px;
      max-width: 1150px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 500px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 420px;
      }
      @media screen and (max-width: $breakpoint-s) {
        max-height: 320px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 200px;
      }
    }
    #camera {
      max-height: 550px;
      max-width: 1150px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 500px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 380px;
      }
      @media screen and (max-width: $breakpoint-s) {
        max-height: 320px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 200px;
      }
    }
    #objJeu {
      max-height: 550px;
      max-width: 1150px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 500px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 380px;
      }
      @media screen and (max-width: $breakpoint-s) {
        max-height: 280px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 180px;
      }
    }
    #scriptsJeu {
      max-height: 550px;
      max-width: 1150px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 500px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 380px;
      }
      @media screen and (max-width: $breakpoint-s) {
        max-height: 280px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 210px;
      }
    }
    #horaire {
      max-height: 550px;
      max-width: 1150px;
      border-radius: 20px;
      @media screen and (max-width: $breakpoint-lg) {
        max-height: 350px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        max-height: 250px;
      }
      @media screen and (max-width: $breakpoint-s) {
        max-height: 200px;
      }
      @media screen and (max-width: $breakpoint-xs) {
        max-height: 130px;
      }
    }
  }

  iframe {
    z-index: 10;
    border-radius: 15px;
    @media screen and (max-width: $breakpoint-lg) {
      max-height: 500px;
      max-width: 1100px;
    }
    @media screen and (max-width: $breakpoint-md) {
      max-height: 500px;
      max-width: 1000px;
    }
    @media screen and (max-width: $breakpoint-sm) {
      max-height: 380px;
      max-width: 700px;
    }
    @media screen and (max-width: $breakpoint-s) {
      max-height: 300px;
      max-width: 500px;
    }
    @media screen and (max-width: $breakpoint-xs) {
      max-height: 250px;
      max-width: 350px;
    }
  }
  ::selection {
    background: var(--color-primary);
  }
  .svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(10%);
    margin: 0 auto;
    width: 500px;
    height: 80px;
    a {
      color: var(--color-secondary);
      &:hover {
        color: var(--color-text-secondary);
      }
      @media screen and (max-width: $breakpoint-xs) {
        margin-right: 125px;
      }
    }
  }
  .shape1,
  .shape2 {
    stroke-dasharray: 1120;
    stroke-width: 5px;
    fill: transparent;
    stroke: var(--color-secondary);
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s, stroke-dasharray 4s;
  }
  .shape1 {
    stroke-dashoffset: 1120;

    @media screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  .shape2 {
    stroke-dashoffset: -1120;
    @media screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  .text {
    letter-spacing: 5px;
    color: var(--color-text-titre);
    top: -88px;
    position: relative;
    text-decoration: underline;
    text-align: center;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
  }
  a {
    text-decoration-color: var(--color-text-titre);
    text-align: center;
  }
  .swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .swing img {
    border: 5px solid #f8f8f8;
    display: block;
  }
  .swing:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
  }
  /* nail */
  .swing:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 51.6%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
  }
  #Astro:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 50.8%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
    @media screen and (max-width: $breakpoint-xs) {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: -14px;
      left: 52.5%;
      z-index: 5;
      border-radius: 50% 50%;
      background: #000;
    }
  }
  #horaire:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 50.6%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
    @media screen and (max-width: $breakpoint-xs) {
      left: 51.9%;
    }
  }
  #StoryboardDot:before {
    @media screen and (max-width: $breakpoint-xs) {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: -14px;
      left: 52.5%;
      z-index: 5;
      border-radius: 50% 50%;
      background: #000;
    }
  }
  #MakeHuman:before {
    @media screen and (max-width: $breakpoint-xs) {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: -14px;
      left: 52.5%;
      z-index: 5;
      border-radius: 50% 50%;
      background: #000;
    }
  }

  @keyframes swing {
    0% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }
  .iconsContact {
    transition: 1s;
    width: 130px;
    &:hover {
      opacity: 0.5;
      color: var(--color-secondary);
      transition: 0.5s;
    }
  }
}
