/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
  &:link {
    color: var(--color-text);
    text-decoration: none;
  }

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary-lighter);
    text-decoration: underline;
  }

  &:active {
    color: var(--color-primary-lighter);
  }

  &:focus {
    color: var(--color-primary-lighter);
  }
}
