/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
  // Couleur de base
  --color-white: #fff;
  --color-black: #000;

  // Couleurs du projet
  --color-primary: #184e77;
  --color-primary-lighter: #1e6091;
  --color-secondary: #d9ed92;
  --color-text-secondary: #99d98c;
  --color-text: #168aad;

  --color-text-titre: #76c893;
}
